*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:linear-gradient(to right,rgb(40, 211, 97),rgb(4, 77, 20))
}
.search{
    &__input{
    width: 100%;
    height:100%;
    }
    &__btn{
        position: absolute;
        top:0;
        right:0;
        width:70px;
        height:70px;
        outline: none;
        font-weight: 700;
        
    }
}
.wrapper{
    width: 70px;
    height: 70px;
    position: relative;
    border-radius: 5px;
    background:#000;
    overflow: hidden;
}